@import "tailwindcss" source(".");

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950 text-slate-900 dark:text-white;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.btn-primary {
  @apply bg-slate-900 dark:bg-white text-white dark:text-slate-900 hover:bg-slate-700 dark:hover:bg-slate-100;
  @apply font-bold;
  @apply rounded;
  @apply cursor-pointer;
}
